@import url('https://fonts.googleapis.com/css2?family=Federo&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

body {
  cursor: url(./assets/png/cursor.png) 8 8, auto;
}


